<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页</title>
	<script type="text/javascript" src="../static/es5-sham.min.js"></script>
</head>
<body>
	<div id="app">
		<%= require('./components/header/header.ejs')() %>
		<div id="info"></div>
	</div>
</body>
</html>